body{
    background:linear-gradient(white,red);
    height: 100vh;
}

.panel{
	width:50%;
	height:75%;
	background: white;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; 
	border-radius: 20px;
}
.leftPanel{
	width: 100%;
	height: 100%;
	background: rgb(250, 2, 2);
	float: center;
}

input{
	margin-top: 50px;
	border-radius: 5px;
	padding: 8px;
	width: 80%;
	border:  1px solid lightgray;
	box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2) ;
} 

button{
	margin-top: 20px;
	border-radius: 5px;
	padding: 8px;
	background: orange;
	color: white;
	border: 1px solid orange;  /* to avoid border in button */
}