
.wrapper{
    margin: auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    width : 310px;
    height: 425px;
    background: #0984e3;
    box-shadow: 0px 0px 50px 2px rgba(0,0,0,0.1);
    padding: 4px 0;
}
.screen{
    height: 395px;
    width: 83%;
    background: white;
    margin-top: 15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    float: left;
}
.inputCont{
    width: 17%;
    float: right;
}
.clear{
    background: #0984e3;
    border: none;
    color: white;
    padding: 9px 11.5px;
    margin: 10px 0 0 10px;
    outline: none;
    border-radius: 50%;
    box-shadow: 0px 1px 25px rgba(0,0,0,0.1);
}
.display{
    width: 95%;
    padding: 32px 5px 5px 5px;
    text-align: right;
    border: none;
    font-size: 1.2em;
    outline: none;
    background: transparent;
    color: lightgray;

}
.inputs{
    font-size: 1.1em;
    background: transparent;
    border: none;
    outline: none;
    padding: 11.1px 22.5px;
    color : white;
}
.inputs.operator{
    color: black;
    font-size: 1.2em;
}
#Odisp{
    font-size: 1.8em;
    border-bottom: 1px solid #f1f1f1;
    color: gray;
}
.operators{
    text-align: center;
}
.calculate{
    color: white;
    background: #0984e3;
    padding: 3px 40px;
    width: 75%;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    margin-top: 110px;
    box-shadow: 0px 1px 25px rgba(0,0,0,0.1);
    outline: none;
}